.box {
  border-radius: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.arrow {
  width: 0px;
  border-radius: 0px;
}
.skin-container {
  padding-top: 5px;
  margin-bottom: 10px;
  border-radius: 15px;
  height: 365px;
}
.avatar {
  border-radius: 20px;
}
.input-area {
  border-radius: 15px 0px 0px 15px;
}
.input-button {
  border-radius: 0px 15px 15px 0px;
}
.tab-pane {
  display: none;
}

.is-active {
  display: initial;
}