@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.container {
  background-color: #F9F7F7;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}
.color {
  background-color: #F9F7F7;
}
.margin{
  margin: 10px;
}
.padding {
  padding: 5px;
}
.border-10 {
  border-radius: 10px;
}
.border-15 {
  border-radius: 15px;
}
